<div class="cards">
    <div class="section" id="lastest-card">
        <div class="section-heading">
            <h2 class="text-center text-white">All Cards - FM</h2>
        </div>

        <div class="row" id="playerList" style="margin:0;">
            <div class="col-lg-3 col-sm-12  filter-area">
                <h3 class="text-center mt-3">Filter Cards</h3>
                <form action="/cards/filter" method="get">
                    <div class="filter-group">
                        <div class="row filter-name">

                            <div class="col-sm-3">
                                <span>Nation </span>

                            </div>
                            <div class="col-sm-9">
                                <i class="fa-sharp fa-solid fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="dropdown-list">
                            {{#each nations}}
                            <div class="input-group row">
                                <div class="form-check col-sm-10">
                                    <input class="nation-check" type="checkbox" name="nation" value="{{this.nation}}"
                                        id="">
                                    <label class="form-check-label text-left" for="">
                                        {{this.nation}}
                                    </label>

                                </div>
                                <div class="col-sm-2">
                                    <img src="{{this.flag}}" alt="{{this.nation}}" height="12" class="flag-img">
                                </div>
                            </div>
                            {{/each}}

                        </div>
                    </div>

                    <div class="filter-group">
                        <div class="row filter-name">
                            <div class="col-sm-3">
                                <span>Event </span>

                            </div>
                            <div class="col-sm-9">
                                <i class="fa-sharp fa-solid fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="dropdown-list">
                            {{#each events}}
                            <div class="input-group row">
                                <div class="form-check col-sm-10">
                                    <input class="nation-check" type="checkbox" name="event" value="{{this.event_name}}"
                                        id="">
                                    <label class="form-check-label text-left" for="">
                                        {{this.event_name}}
                                    </label>

                                </div>
                                <div class="col-sm-2">
                                    <img src="{{this.event_thumb}}" alt="{{this.event_name}}" height="16"
                                        class="event-thumb">
                                </div>
                            </div>
                            {{/each}}

                        </div>
                    </div>

                    <div class="filter-group">
                        <div class="row filter-name">
                            <div class="col-sm-3">
                                <span>Position </span>
                            </div>
                            <div class="col-sm-9">
                                <i class="fa-sharp fa-solid fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="dropdown-list">
                            {{#each positions}}
                            <div class="input-group row">
                                <div class="form-check col-sm-12">
                                    <input class="nation-check" type="checkbox" name="postion" value="{{this}}" id="">
                                    <label class="form-check-label text-left" for="">
                                        {{this}}
                                    </label>

                                </div>

                            </div>
                            {{/each}}

                        </div>
                    </div>
                    <input type="submit" value="Apply Filter" class="p-2 rounded bg-success text-white text-center"
                        style="cursor: pointer;">
                </form>
            </div>
            <div class="col-lg-9 col-sm-12 card-area">
                <nav class="mt-4">
                    <ul class="pagination justify-content-end">
                        <li class="page-item {{#if (lte currentPage 1)}} disabled {{else}} {{/if}}">
                            <a class="page-link text-white bg-darkpurle" href="/cards?page={{sum currentPage -1}}"
                                tabindex="-1">Prev</a>
                        </li>
                        <li class="page-item"><a class="page-link text-white bg-darkpurle" href="/players?page=1">1</a>
                        </li>
                        {{#if (lte currentPage 3)}}
                        <li class="page-item"><a class="page-link text-white bg-darkpurle" href="/players?page=2">2</a>
                        </li>
                        <li class="page-item"><a class="page-link text-white bg-darkpurle" href="/players?page=3">3</a>
                        </li>
                        {{/if}}
                        {{#if (gt totalPages 3)}}
                        <li class="page-item">
                            <a href="#" class="page-link text-white bg-darkpurle" onclick="myFunction()">...</a>
                        </li>
                        {{/if}}
                        {{#if (and (gt currentPage 3) (lt currentPage (sum totalPages -3)))}}
                        <li class="page-item"><a class="page-link text-white bg-darkpurle"
                                href="/players?page={{sum currentPage -1}}">{{sum
                                currentPage -1}}</a></li>
                        <li class="page-item">
                            <a href="/players?page={{currentPage}}"
                                class="page-link text-white bg-darkpurle">{{currentPage}}</a>
                        </li>
                        <li class="page-item"><a class="page-link text-white bg-darkpurle"
                                href="/players?page={{sum currentPage 1}}">{{sum
                                currentPage 1}}</a></li>
                        <li class="page-item">
                            <a href="#" class="page-link text-white bg-darkpurle">...</a>
                        </li>
                        {{else}}
                        <li class="page-item">
                            <a href="/players?page={{sum totalPages -2}}"
                                class="page-link text-white bg-darkpurle">{{sum
                                totalPages -2}}</a>
                        </li>
                        <li class="page-item">
                            <a href="/players?page={{sum totalPages -1}}"
                                class="page-link text-white bg-darkpurle">{{sum
                                totalPages -1}}</a>
                        </li>
                        {{/if}}
                        <li class="page-item">
                            <a class="page-link text-white bg-darkpurle"
                                href="/players?page={{totalPages}}">{{totalPages}}</a>
                        </li>
                        <li class="page-item {{#if (gte currentPage totalPages)}} disabled {{else}} {{/if}}">
                            <a class="page-link text-white bg-darkpurle"
                                href="/players?page={{sum currentPage 1}}">Next</a>
                        </li>
                    </ul>
                </nav>
                <div class="card-stat-list ">
                    {{#each players}}
                    <a class="card-container row" href="/players/{{this._id}}">
                        <div class="card-wrapper">
                            <img src="{{this.background}}" alt="" class="card-image">
                            <img src="{{this.player_img}}" alt="" class="player-image">
                            <img src="{{this.flag}}" alt="" class="nation-image nation-sm-image">
                            <img src="{{this.event}}" class="event-image event-sm-image">
                            <span class="player-position text-uppercase">{{this.position}}</span>
                            <span class="player-rating ">{{this.rating}}</span>
                            <span class="player-name"
                                style="{{#if (isTooLong this.name)}} transform: scale(0.653266, 1); {{else}}transform: scale(0.890411, 1);{{/if}}">{{this.name}}</span>
                        </div>
                        <div class="card-info col-sm-3">
                            <span class="full-name ">{{this.full_name}}</span>

                            <div class="club-name">{{this.career.club}}</div>
                            <div class="club-name">{{this.rating}} | {{this.position}}</div>

                        </div>
                        <div class="card-avg-stats d-flex flex-row col-lg-6 col-sm-7">
                            {{#if (isGK this.position)}}
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.diving_1)}}</span>
                                <div class="stat-type">DIV</div>
                            </div>
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.positioning_1)}}</span>
                                <div class="stat-type">POS</div>
                            </div>
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.handling_1 )}}</span>
                                <div class="stat-type">HAN</div>
                            </div>
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.reflexes_1
                                    this.stats.reflexes_2 )}}</span>
                                <div class="stat-type">REF</div>
                            </div>
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.kicking_1
                                    this.stats.kicking_2
                                    )}}</span>
                                <div class="stat-type">KIC</div>
                            </div>
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.physical_1
                                    this.stats.physical_2
                                    this.stats.physical_3 this.stats.physical_3)}}</span>
                                <div class="stat-type">PHY</div>
                            </div>
                            {{else}}
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.pace_1
                                    this.stats.pace_2)}}</span>
                                <div class="stat-type">PAC</div>
                            </div>
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.shooting_1
                                    this.stats.shooting_2 this.stats.shooting_3
                                    this.stats.shooting_4 this.stats.shooting_5 this.stats.shooting_6)}}</span>
                                <div class="stat-type">SHO</div>
                            </div>
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.passing_1
                                    this.stats.passing_2
                                    this.stats.passing_3
                                    this.stats.passing_4 this.stats.passing_5 this.stats.passing_6)}}</span>
                                <div class="stat-type">PAS</div>
                            </div>
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.agility_1
                                    this.stats.agility_2
                                    this.stats.agility_3
                                    this.stats.agility_4 this.stats.agility_5 )}}</span>
                                <div class="stat-type">AGI</div>
                            </div>
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.defending_1
                                    this.stats.defending_2 this.stats.defending_3
                                    this.stats.defending_4 this.stats.defending_5 )}}</span>
                                <div class="stat-type">DEF</div>
                            </div>
                            <div class="stat-group">
                                <span class="stat-number text-uppercase">{{floor (avg this.stats.physical_1
                                    this.stats.physical_2
                                    this.stats.physical_3)}}</span>
                                <div class="stat-type">PHY</div>
                            </div>
                            {{/if}}
                        </div>
                    </a>
                    {{/each}}
                </div>
                <nav class="mt-4">
                    <ul class="pagination justify-content-end">
                        <li class="page-item {{#if (lte currentPage 1)}} disabled {{else}} {{/if}}">
                            <a class="page-link text-white bg-darkpurle" href="/players?page={{sum currentPage -1}}"
                                tabindex="-1">Prev</a>
                        </li>
                        <li class="page-item"><a class="page-link text-white bg-darkpurle" href="/players?page=1">1</a>
                        </li>
                        {{#if (lte currentPage 3)}}
                        <li class="page-item"><a class="page-link text-white bg-darkpurle" href="/players?page=2">2</a>
                        </li>
                        <li class="page-item"><a class="page-link text-white bg-darkpurle" href="/players?page=3">3</a>
                        </li>
                        {{/if}}
                        {{#if (gt totalPages 3)}}
                        <li class="page-item">
                            <a href="#" class="page-link text-white bg-darkpurle" onclick="myFunction()">...</a>
                        </li>
                        {{/if}}
                        {{#if (and (gt currentPage 3) (lte currentPage (sum totalPages -2)))}}
                        <li class="page-item"><a class="page-link text-white bg-darkpurle"
                                href="/players?page={{sum currentPage -1}}">{{sum
                                currentPage -1}}</a></li>
                        <li class="page-item">
                            <a href="/players?page={{currentPage}}"
                                class="page-link text-white bg-darkpurle">{{currentPage}}</a>
                        </li>
                        <li class="page-item"><a class="page-link text-white bg-darkpurle"
                                href="/players?page={{sum currentPage 1}}">{{sum
                                currentPage 1}}</a></li>
                        <li class="page-item">
                            <a href="#" class="page-link text-white bg-darkpurle">...</a>
                        </li>
                        {{else}}
                        <li class="page-item">
                            <a href="/players?page={{sum totalPages -2}}"
                                class="page-link text-white bg-darkpurle">{{sum
                                totalPages -2}}</a>
                        </li>
                        <li class="page-item">
                            <a href="/players?page={{sum totalPages -1}}"
                                class="page-link text-white bg-darkpurle">{{sum
                                totalPages -1}}</a>
                        </li>
                        {{/if}}
                        <li class="page-item">
                            <a class="page-link text-white bg-darkpurle"
                                href="/players?page={{totalPages}}">{{totalPages}}</a>
                        </li>
                        <li class="page-item {{#if (gte currentPage totalPages)}} disabled {{else}} {{/if}}">
                            <a class="page-link text-white bg-darkpurle"
                                href="/players?page={{sum currentPage 1}}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
    var pageLinks = document.querySelectorAll('.page-link text-whites');

    pageLinks.forEach(pageLink => {
        pageLink.onclick = function () {
            pageLink.style.backgroundColor = "#7367f0"
        }
    })

    function myFunction(e) {
        e.preventDefault();
    }

    document.addEventListener('DOMContentLoaded', function () {
        var dropdownLists = document.querySelectorAll('.dropdown-list');
        var filterItems = document.querySelectorAll('.filter-name');
        console.log(filterItems)
        console.log(dropdownLists)
        for (let i = 0; i < filterItems.length; i++) {
            filterItems[i].onclick = function () {
                console.log('click')
                console.log(dropdownLists[i].classList.toggle('show'));
                //dropdownLists[i].classList.toggle('show')
            }
        }
    });


    if (window.screen.width <= 912) {
        document.querySelectorAll('.card-wrapper').forEach(e => {
            e.classList.add('card-lg');
            console.log(e.children)
            e.children[2].classList.replace('nation-sm-image', 'nation-lg-image')
            e.children[3].classList.replace('event-sm-image', 'event-lg-image')
            e.children[4].classList.add('player-position-lg');
            e.children[5].classList.add('player-rating-lg');
            e.children[6].classList.add('player-name-lg');

        })
    }

    function scale(e, times) {

    }

</script>