<div class="cards">
    <div class="section" id="lastest-card">
        <div class="section-heading">
            {{#with event}}
            <h2 class="text-center text-white">{{this.event_shortname}}</h2>
            {{/with}}
        </div>
        <div class="card-list">
            {{#each players}}
            <a class="card-container " href="/players/{{this._id}}">
                <div class="card-wrapper ">
                    <img src="{{this.background}}" alt="" class="card-image">
                    <img src="{{this.player_img}}" alt="" class="player-image">
                    <img src="{{this.flag}}" alt="" class="nation-image nation-sm-image">
                    <img src="{{this.event}}" class="event-image event-sm-image">
                    <span class="player-position text-uppercase">{{this.position}}</span>
                    <span class="player-rating ">{{this.rating}}</span>
                    <span class="player-name"
                        style="{{#if (isTooLong this.name)}} transform: scale(0.653266, 1); {{else}}transform: scale(0.890411, 1);{{/if}}">{{this.name}}</span>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>
<script>
    if (window.screen.width <= 912) {
        document.querySelectorAll('.card-wrapper').forEach(e => {
            e.classList.add('card-lg');
            console.log(e.children)
            e.children[2].classList.replace('nation-sm-image', 'nation-lg-image')
            e.children[3].classList.replace('event-sm-image', 'event-lg-image')
            e.children[4].classList.add('player-position-lg');
            e.children[5].classList.add('player-rating-lg');
            e.children[6].classList.add('player-name-lg');

        })
    }
</script>